.comment{
    background: rgb(173, 171, 171);
    padding: 5px;
    padding-right: 20px; 
    border: solid 1px black; 
    float: left;
    width: 500px; 
    margin: 12px;
    padding: 12px;
}
.username{
    float: left;
    color: darkblue;
    font-weight: bold;
    margin: 5px;
}
.email{
    float: left;
    color: darkslateblue;
    font-weight: bold;
    margin: 5px;
}
.homepage{
    float: left;
    color: #008b2a;
    margin: 5px;
}
.answer{
    float: left;
}
.article{
    font-weight: bold;
    font-size: 14pt;
    margin-left: 17px;
}
.add-comment{
    margin: 17px;
    width: 525px;
}
em{
    color: red;
    margin-right: 2px;
}